{% extends 'core/base.html' %}

{% load static %}

{% block title %}INICIO | EWDLT{% endblock %}


<!-- CAROUSEL DE PRODUCTOS -->

{% block content %}
    <!--PRODUCTOS-->
    <section class="productos" id="producto">

        <div class="box-container">

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Bristol Mango 5000 4290 x mayor al comprar mas de 3 unidades.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Bristol Mango</h3>
                    <div class="precio">$4.250 <span>$5.000</span></div>
                </div>
            </div>
    

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Bristol Cherry.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Bristol Cherry</h3>
                    <div class="precio">$4.250 <span>$5.000</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Bristol Chicle.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Bristol Chicle</h3>
                    <div class="precio">$4.250 <span>$5.000</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Bristol Chocolate.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Bristol Chocolate</h3>
                    <div class="precio">$4.250 <span>$5.000</span></div>
                </div>
            </div>

        
            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Bristol Coco.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Bristol Coco</h3>
                    <div class="precio">$4.250 <span>$5.000</span></div>
                </div>
            </div>

            
            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Bristol Manzana verde 5000.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Bristol Manzana Verde</h3>
                    <div class="precio">$4.250 <span>$5.000</span></div>
                </div>
            </div>


            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Bristol Menta.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Bristol Menta</h3>
                    <div class="precio">$4.250 <span>$5.000</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Bristol Naranja.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Bristol Naranja</h3>
                    <div class="precio">$4.250 <span>$5.000</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Bristol original.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Bristol Original</h3>
                    <div class="precio">$4.250 <span>$5.000</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Bristol Sandia.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Bristol Sandia</h3>
                    <div class="precio">$4.250 <span>$5.000</span></div>
                </div>
            </div>


            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Bristol-Vainilla.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Bristol Vainilla </h3>
                    <div class="precio">$4.250 <span>$5.000</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-10%</span>
                <div class="image">
                    <img src="{% static 'core/images/Cerrito frutos rojos.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Cerrito Frutos Rojos </h3>
                    <div class="precio">$4.815 <span>$5.350</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-10%</span>
                <div class="image">
                    <img src="{% static 'core/images/Cerrito chocolate menta.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Cerrito Chocolate Menta </h3>
                    <div class="precio">$5.400 <span>$6.000</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-10%</span>
                <div class="image">
                    <img src="{% static 'core/images/Cerrito Natural 5350.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Cerrito Natural </h3>
                    <div class="precio">$4.815 <span>$5.350</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-10%</span>
                <div class="image">
                    <img src="{% static 'core/images/Cerrito sandia tropical 5350.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Cerrito Sandia Tropical </h3>
                    <div class="precio">$5.400 <span>$6.000</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-10%</span>
                <div class="image">
                    <img src="{% static 'core/images/Cerrito uva mix.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Cerrito Uva Mix </h3>
                    <div class="precio">$4.815 <span>$5.350</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-10%</span>
                <div class="image">
                    <img src="{% static 'core/images/Cerrito vainilla caramelo.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Cerrito Vainilla Caramelo </h3>
                    <div class="precio">$4.815 <span>$5.350</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Tennesie Cherry.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Tennesie Cherry </h3>
                    <div class="precio">$5.780 <span>$6.800</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Tennesie-American-Blend.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Tennesie American Blend </h3>
                    <div class="precio">$5.780 <span>$6.800</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Tennesie-Caramelo.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Tennesie Caramelo </h3>
                    <div class="precio">$5.780 <span>$6.800</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Tennesie-Chocolate.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Tennesie Chocolate </h3>
                    <div class="precio">$5.780 <span>$6.800</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Tennesie-Menta-6790-5790-x-mayor.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Tennesie Menta </h3>
                    <div class="precio">$5.780 <span>$6.800</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Tennesie-Natural.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Tennesie Natural </h3>
                    <div class="precio">$5.780 <span>$6.800</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Tennesie-Uva.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Tennesie Uva </h3>
                    <div class="precio">$5.780 <span>$6.800</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Tennesie-Vainilla-6790.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>Tennesie Vainilla </h3>
                    <div class="precio">$5.780 <span>$6.800</span></div>
                </div>
            </div>

            <div class="box">
                <span class="descuento">-15%</span>
                <div class="image">
                    <img src="{% static 'core/images/Tennesie-Virginia.png'%}" alt="">
                    <div class="iconos">
                        <a href="#" class="fa fa-cart-plus"></a>
                        <a href="#" class="fas fa fa-share"></a>
                    </div>
                </div>
                
                <div class="contenido">
                    <h3>Tennesie Virginia </h3>
                    <div class="precio">$5.780 <span>$6.800</span></div>
                </div>
            </div>
    </section>
{% endblock %}